* {
	font-family: 'Lato', sans-serif !important;
}

.clean { box-shadow: none !important; background: transparent !important; border: 0 !important; }
.no-border { border: 0 !important; }


.reveal pre {
	box-shadow: none;

	code,
	code * {
		font-family: monospace, 'Courier' !important;
	}
}